/*  ! RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! Generics */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1800px;
}

.wrapper{
    overflow: hidden;
}


/* ! HEADER */
.header{
    padding: 7px;
    text-align: right;
    min-height: 50px;
    background-color: black;
}

.button{
    padding: 5px;
    margin-left: 5px;
    border-radius: 7px;
    font-size: 0.8rem;
    background-color: #4d4d4d;
    color: white;
}

/* ! MAIN */

.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
    background-color: black;
    height: calc(100vh - 50px - 70px);
}

.main > .container{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 10px;
}

.main .webcam{
    width: 230px;
    position: relative;    
}

.webcam img{
    width: 100%;
    height: 100%;
}

.webcam .user{
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/* ! FOOTER */
.footer{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

.right-icons,
.middle-icon{
    display: flex;
    gap: 5px;
}

.icon-container{
    min-height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container .icon{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-container .icon i{
    font-size: 1.7rem;
}

.icon .comand{
    font-size: 0.9rem;
    text-align: center;
}

.row{
    font-size: 1.7rem;
}

.end-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: red;
    text-align: center;
    background-color: #4a4a4a;
}